In [15]:
import pandas as pd
import pyodbc
import csv

In [16]:
server = 'database1234.database.windows.net'
database = 'master'
username = 'administrador'
password = '42757875P.'
connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

In [17]:
# Establecer la conexi√≥n
conn = pyodbc.connect(connection_string)
# Deshabilitar las transacciones
conn.autocommit = True

In [18]:
new_database_name = 'DatacampProject'
check_database_query = f"SELECT COUNT(*) FROM sys.databases WHERE name = '{new_database_name}'"
cursor = conn.cursor()
cursor.execute(check_database_query)
database_exists = cursor.fetchone()[0]

if database_exists == 0:
    create_database_query = f'CREATE DATABASE {new_database_name}'
    cursor.execute(create_database_query)

In [19]:
#usamos la nueva base de datos
conn = pyodbc.connect(connection_string, database=new_database_name)

In [20]:
#eliminamos la tabla client si existe
cursor.execute("DROP TABLE IF EXISTS client")
#creamos la tabla client
create_client_table_query = '''CREATE TABLE client (
                                "id" INT NOT NULL,
                                "age"   INT NOT NULL,
                                "job"  VARCHAR(50) NOT NULL,	
                                "marital"   VARCHAR(50) NOT NULL,
                                "education" VARCHAR(50) NOT NULL,
                                "credit_default" VARCHAR(50) NOT NULL,
                                "housing" VARCHAR(50) NOT NULL,
                                "loan" VARCHAR(50) NOT NULL);'''

cursor.execute(create_client_table_query)

In [25]:

cursor.execute("DROP TABLE IF EXISTS campaing")
#creamos la tabla campaing
create_campaing_table_query = '''CREATE TABLE campaing (
                                "campaing_id" INT NOT NULL,
                                "client_id"   INT NOT NULL,
                                "number_contacts"  INT NOT NULL,
                                "contact_duration"   INT NOT NULL,
                                "pdays" INT NOT NULL,
                                "previous_campaign_contacts" INT NOT NULL,
                                "previous_outcome" VARCHAR(50) NOT NULL,
                                "campaign_outcome" VARCHAR(50) NOT NULL,
                                "last_contact_date" DATE NOT NULL);'''

cursor.execute(create_campaing_table_query)

In [26]:
#eliminamos la tabla economics si existe
cursor.execute("DROP TABLE IF EXISTS economics")
#creamos la tabla economics
create_economics_table_query = '''CREATE TABLE economics (
                                "client_id"   INT NOT NULL,
                                "emp_var_rate"  FLOAT NOT NULL,
                                "cons_price_idx"   FLOAT NOT NULL,
                                "euribor_tree_months" FLOAT NOT NULL,
                                "number_employed" FLOAT NOT NULL);'''

cursor.execute(create_economics_table_query)